.achievement-block {
  @include flex(center, center);
  margin-bottom: rem(30px);

  &__container {
    display: inline-block;
  }


  &__icon {
    width: 70px;
    height: 70px;
    margin-bottom: rem(35px);
  }

  &__number {
    font-size: rem(60px);
    color: white;
    font-weight: 700;
    display: inline-block;
    line-height: 1em;
    margin-right: 15px;
  }

  &__caption {
    font: $font-secondary;
    color: white;
    text-transform: uppercase;
    font-size: rem(22px);
    font-weight: 700;
    display: inline-block;
  }
}