.container-xxl {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.container-xxxl {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.main {
  overflow: hidden;
}

.section {
  $main-side-padding: 15px;
  padding: 70px $main-side-padding;
  @media (max-width: $media-sm) {
    padding: 40px $main-side-padding;
  }
}
