.input-form {
  position: relative;
  width: 100%;

  &__input,
  &__textarea {
    border: 1px solid #e5e6ea;
    color: $paragraph-color--dark;
    margin-bottom: 30px;
    padding: 0 7px;
    width: 100%;
    min-height: 60px;
    transition: .3s ease-in-out;

    &::placeholder {
      font: $font-primary;
      transition: .3s ease-in-out;
    }

    &:focus::placeholder {
      position: relative;
      font-size: 0.71rem;
      transform: translate(0, -140%);
      color: $secondary-color;
    }
  }

  &__textarea {
    padding-top: 20px;
    margin-bottom: 30px;
    min-height: 180px;
    position: relative;
    resize: none;
  }

  &__label {
    position: absolute;
    top: 15px;
    left: 8px;
    transition: .3s ease-in-out;
    display: none;
  }
}
