.review {
  text-align: left;

  &__photo {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin-bottom: 50px;
  }

  &__text {
    margin-bottom: 50px;
  }

  &__logo {
    height: 46px;
    display: inline-block;
    margin: 0 15px 15px 0;
  }
}