.worker-card {
  $this: &;
  max-width: 360px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  border: 5px solid #f6f7fb;
  text-align: center;

  &__img {
    max-width: 100%;
    margin-bottom: rem(40px);
  }

  &__name {
    margin-bottom: rem(20px);

    &:hover {
      color: $secondary-color;
    }
  }

  &__position {
    display: block;
    margin-bottom: rem(34px);
  }

  &__social {
    display: flex;
    justify-content: space-around;
  }

  &__social-link {
    color: $paragraph-color--light;
    position: relative;
    margin: 0 20px rem(25px);
    width: 100%;
    transition: .3s ease-in-out;

    &:hover {
      color: $secondary-color;
    }

    &:after {
      content: "";
      position: absolute;
      display: inline-block;
      right: -20px;
      transform: translateX(50%);
      top: 7px;
      width: 6px;
      height: 6px;
      background-color: #b4b5b8;
      opacity: 0.5;
    }

    &:last-child::after {
      display: none;
    }
  }
}