html,
body {
  font-family: $font-family--primary;
  font-size: $font-size-base;
  @include media(font-size, 14px, 14px, 13px, 12px);
}

p, span {
  font: $font-primary;
  color: $paragraph-color--light;
  line-height: rem(27px);
}

h1 {
  font: $font-secondary;
  font-size: rem(60px);
  line-height: rem(70px);
  color: $primary-color;
  margin-bottom: rem(50px);
}

h2 {
  font: $font-secondary;
  font-size: rem(42px);
  color: $primary-color;
  margin-bottom: rem(30px);
}

h3 {
  font: $font-secondary;
  font-size: rem(30px);
  color: $primary-color;
  margin-bottom: rem(30px);
}

h4 {
  font: $font-secondary;
  font-size: rem(22px);
  font-weight: 600;
  color: $primary-color;
  margin-bottom: rem(30px);
}

h5 {
  font: $font-primary;
  font-size: rem(18px);
  color: $secondary-color;
  margin-bottom: rem(30px);
}

h6 {
  font: $font-primary;
  font-size: rem(14px);
  color: $secondary-color;
  text-transform: uppercase;
  margin-bottom: rem(30px);
}






