html,
body {
  font-family: $font-family--primary;
  font-size: $font-size-base;
  @media (max-width: $media-xl) {
    font-size: 14px
  }
}

p, span {
  font: $font-primary;
  color: $paragraph-color--light;
  line-height: 1.6;
}

h1 {
  font: 700 rem(60px)/1.2 $font-family--secondary;
  color: $primary-color;
  margin-bottom: rem(50px);
}

h2 {
  font: 700 rem(42px)/1.2 $font-family--secondary;
  color: $primary-color;
  margin-bottom: rem(30px);
}

h3 {
  font: 700 rem(30px)/1.2 $font-family--secondary;
  color: $primary-color;
  margin-bottom: rem(30px);
}

h4 {
  font: 600 rem(22px)/1.2 $font-family--secondary;
  color: $primary-color;
  margin-bottom: rem(30px);
}

h5 {
  font: 400 rem(18px) $font-family--primary;
  color: $secondary-color;
  margin-bottom: rem(30px);
}

h6 {
  font: 400 rem(14px) $font-family--primary;
  color: $secondary-color;
  text-transform: uppercase;
  margin-bottom: rem(30px);
}






