//fonts
$font-family--primary: "Roboto";
$font-family--secondary: "Poppins";

$font-size-base: 15px;

$font-primary: 400 1rem $font-family--primary;
$font-secondary: 700 1rem $font-family--secondary;

//media points
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1400px;
.d{
  color: transparent;
}
//color
$primary-color: #112e41;
$primary-color--hover: transparentize($primary-color, 0.4);
$secondary-color: #ff7214;
$secondary-color--hover: transparentize($secondary-color, 0.4);

$menu-color: #323541;

$paragraph-color--light: #888888;
$paragraph-color--dark: #999999;

$background-color--light: #f7f7f7;
$background-color--dark: #162b45;
$background-color--bottom: #10233a;