.top-footer {
  background-color: $background-color--dark;
  padding-top: 75px;
  padding-bottom: 20px;
  @media (max-width: $media-sm) {
    padding-top: 75px/3;
    padding-bottom: 20px/3;
  }

  &__title {
    color: white;
    margin: 0 0 rem(35px);
  }

  &__menu-link {
    display: block;
    font: $font-primary;
    color: $paragraph-color--dark;
    margin-bottom: rem(20px);
    transition: .3s ease-in-out;

    &:hover {
      color: $secondary-color;
    }
  }

  &__img {
    transition: .3s ease-in-out;
    opacity: 0.7;
    &:hover {
      opacity: 1;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    }
  }
}

.bottom-footer {
  padding: 25px 0;
  background-color: $background-color--bottom;

  &__text {
    margin: 0;
  }

  &__link {
    color: $secondary-color;
    transition: .3s ease-in-out;

    &:hover {
      color: white;
    }
  }
}
