.main-header {
  $this: &;
  background-color: $background-color--light;
  position: relative;

  &__container {
    @include flex(space-between, center);
  }

  &__menu {
    @include flex(space-between, center);
    overflow: hidden;
    transition: .3s ease-in-out;

    @media (max-width: $media-lg) {
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      width: 200px;
      height: 0;
      padding: 0 20px;
      background-color: white;
      #{$this}__link {
        padding: rem(18px) rem(28px);
      }

      &--active-menu-toggle {
        height: 400px;
        padding: 20px;
      }
    }
  }

  &__link {
    padding: rem(28px) rem(28px);
    font: $font-primary;
    font-weight: 500;
    color: $menu-color;
    text-transform: uppercase;
    white-space: nowrap;
    transition: .3s ease-in-out;

    &:hover {
      color: inherit;
      opacity: 0.5;
    }
  }
}
